{% extends "layout.html" %}

{% block content %}

<script>
    function add_vlan(vlan_field, newVlanID) {
        //alert(newVlanID)
        var newVlanField = vlan_field.cloneNode(true);
        newVlanField.id = newVlanID
        //....
    }

    document.addEventListener("DOMContentLoaded", function() {
        var vlan_fields = document.getElementsByClassName("vlan");
        var highest_vlan = 1;

        for (var i = 0; i < vlan_fields.length; i++) {
            var vlanid = Number(vlan_fields[i].id);

            if (vlanid > highest_vlan) {
                highest_vlan = vlanid;
            }
        }

        var vlan_field = document.getElementById(String(highest_vlan));
        var div_tag = document.createElement("div");
        var button_tag = document.createElement("button");
        var input_tag = document.createElement("input");
        var label_tag = document.createElement("label");
        div_tag.className = "field";
        label_tag.innerHTML = "Enter new VLAN ID"
        button_tag.type = "button"
        button_tag.innerHTML = "+"
        button_tag.className = "add_vlan";
        input_tag.id = "new_vlan"
        input_tag.type = "text"
        input_tag.name = "new_vlan"
        div_tag.style = "display:block; margin-top:25px;"
        input_tag.style = "margin-left:25px;"

        button_tag.onclick = function(){
            if (input_tag.value) {
                //add_vlan(vlan_field, input_tag.value)
                
            }
        };

        div_tag.appendChild(label_tag)
        div_tag.appendChild(input_tag)
        div_tag.appendChild(button_tag)
        vlan_field.getElementsByClassName("form-field")[0].appendChild(div_tag)
    });
</script>

<div class="form-wrapper">
    <form action="/" method="POST">
        <fieldset class="form-field">
            {{form.hostname.label}}
            {{form.hostname(size=10)}}
        </fieldset>
        <fieldset class="form-field">
            {{form.password.label}}
            {{form.password()}}
        </fieldset>
        <fieldset class="form-field">
            {{form.primary_dns.label}}
            {{form.primary_dns()}}
        </fieldset>
        <fieldset class="form-field">
            {{form.secondary_dns.label}}
            {{form.secondary_dns()}}
        </fieldset>
        <div class="vlan" id="1">
            <fieldset class="form-field">
                <div class="field">
                    {{form.vl1_gateway.label}}
                    {{form.vl1_gateway()}}
                </div>
                <div class="field">
                    {{form.vl1_cidr_prefix.label}}
                    {{form.vl1_cidr_prefix()}}
                </div>
                <div class="field">
                    {{form.vl1_dhcp_server.label}}
                    {{form.vl1_dhcp_server()}}
                </div>
            </fieldset>
        </div>
        <fieldset class="form-field">
            {{form.fgt_model.label}}
            {{form.fgt_model()}}
        </fieldset>
        <fieldset class="form-field">
            {{form.wan_type.label}}
            {{form.wan_type()}}
        </fieldset>
        <fieldset class="form-field">
            {{form.generate()}}
        </fieldset>
    </form>
</div>

{% endblock %}