<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Config Gen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/app.css">
    </head>
    <body>
        <div class = "sidebar" id = "sidebar">
            <button type = button class = "sidebutton" id = "addvlan"> ADD vlan! </button>
            <button type = button class = "hide sidebutton" id = "deletevlan"> DELETE vlan! </button>
        </div>
        <div class="topcontainer">
            <div class="topbar">
                <h1>Config Gen</h1>
            </div> 
            <form action = "#" id="configForm">
                <div class ="Container">
                    <div class="System" id="System">
                        <h1> System Information </h1>
                        <hr>
                        <label for="hn">Hostname</label>
                        <input type="text" class="text" placeholder="Enter router hostname" id="hn" name="hn">
                        <!-- Make sure the id for the error classes is the element it's for, + err (hostname = hnerr)-->
                        <div class="hide err"id="hnerr">
                            <!-- the error message is changed in the .js file-->
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
    
                        <label for="pw">Password</label>
                        <input type="password" class="password text" placeholder="Enter global router password" id="pw" name="pw">
                        <div class="hide err"id="pwerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
    
                        <label for="pipv4">Primary IPv4 DNS Server</label>
                        <input type="text" class="ipv4" placeholder="Enter IPv4 DNS Server Address" id="pipv4" name="pipv4">

                        <div class="hide err"id="pipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="sipv4">Secondary IPv4 DNS Server</label>
                        <input type="text" class="ipv4" placeholder="Enter Secondary IPv4 DNS Server Address" id="sipv4" name="sipv4">
                        <div class="hide err"id="sipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
    
                        <label for="model">Choose a model:</label>
                        <select name="model" id="model">
                        <option value="800Series">800 Series</option>
                        <option value="110Series">1100 Series</option>
                        <option value="11014PSeries">C1101-4P</option>
                        </select>

                        
                        <label for="WAN">Choose a WAN connection type:</label>
                        <select name="WAN" id="WAN">
                        <option value="IPoE">IPoE</option>
                        <option value="PPPoE">PPPoE</option>
                        <option value="Static IP">Static IP</option>
                        </select>
                    </div>
                    
                    <div class="Vlan" id="vlan1">
                        <h1> Vlan 1 Information </h1>
                        <hr>

                        <label for="v1ID">Vlan 1 ID</label>
                        <input type="text" class="vID text" placeholder="Enter VLAN ID" id="v1ID" name="v1ID">
                        <div class="hide err"id="v1IDerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="v1ipv4" id="v1ipv4Label">Vlan 1 IPv4 Interface</label>
                        <input type="text" class="ipv4" placeholder="Enter IPv4 Interface" id="v1ipv4" name="v1ipv4">
                        <div class="hide err"id="v1ipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="v1ipPre" id = "v1ipPreLabel">Choose a VLAN prefix:</label>
                        <select name="v1ipPre" id="v1ipPre">
                        <option value="/31">/31</option>
                        <option value="/30">/30</option>
                        <option value="/29">/29</option>
                        <option value="/28">/28</option>
                        <option value="/27">/27</option>
                        <option value="/26">/26</option>
                        <option value="/25">/25</option>
                        <option value="/24">/24</option>
                        <option value="/23">/23</option>
                        <option value="/22">/22</option>
                        <option value="/21">/21</option>
                        <option value="/20">/20</option>
                        <option value="/19">/19</option>
                        <option value="/18">/18</option>
                        <option value="/17">/17</option>
                        <option value="/16">/16</option>
                        </select>

                        <label for="v1dhcpEN" id ="v1dhcpENLabel" > Enable DHCPv4 server on VLAN 1 </label>
                        <input type="checkbox" name="v1dhcpEN" id ="v1dhcpEN" value="Enable DHCPv4">
                    </div>

                    
                    <div class="hide" id="optionalvlan">
                        <h1 id = "vlan0title"> Vlan 0 Information </h1>
                        <hr>

                        <label for="v0ID" id = "v0IDLabel">Vlan 0 ID</label>
                        <input type="text" class="vID text" placeholder="Enter VLAN ID" id="v0ID" name="v0ID">
                        <div class="hide err"id="v0IDerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="v0ipv4" id="v0ipv4Label">Vlan 0 IPv4 Interface</label>
                        <input type="text" class="ipv4" placeholder="Enter IPv4 Interface" id="v0ipv4" name="v0ipv4">

                        <div class="hide err"id="v0ipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="v0ipPre" id ="v0ipPreLabel">Choose a VLAN prefix:</label>
                        <select name="v0ipPre" id="v0ipPre">
                        <option value="/31">/31</option>
                        <option value="/30">/30</option>
                        <option value="/29">/29</option>
                        <option value="/28">/28</option>
                        <option value="/27">/27</option>
                        <option value="/26">/26</option>
                        <option value="/25">/25</option>
                        <option value="/24">/24</option>
                        <option value="/23">/23</option>
                        <option value="/22">/22</option>
                        <option value="/21">/21</option>
                        <option value="/20">/20</option>
                        <option value="/19">/19</option>
                        <option value="/18">/18</option>
                        <option value="/17">/17</option>
                        <option value="/16">/16</option>
                        </select>

                        <label for="v0dhcpEN" id="v0dhcpENLabel"> Enable DHCPv4 server on VLAN 0</label>
                        <input type="checkbox" name="v0dhcpEN" id ="v0dhcpEN" value="Enable DHCPv4">
                     </div>

                     <div class = "hide" id ="optionalPF">
                        <h1 id = "PortForwarding0Title"> Port Forwarding 0 Information </h1>

                        <label for="protocol0" id ="protocol0Label">Choose a protocol (TCP/UDP):</label>
                        <select name="protocol0" id="protocol0">
                        <option value="TCP">TCP</option>
                        <option value="UDP">UDP</option>
                        </select>

                        <label for="p0sIP" id="p0sILabel"> Source IP Address</label>
                        <input type="text" class="ipv4altered text" placeholder="Enter IPv4 address or leave blank" id="p0sIP" name="p0sIP">
                        <div class="hide err"id="p0sIPerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="exPortNo0" id ="exPortNo0Label">External Port Number</label>
                        <input type="text" class="portNo text" placeholder="Enter external port number" id="exPortNo0" name="exPortNo0">
                        <!--1-65353-->
                        <div class="hide err"id="exPortNo0err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="p0iIP" id="p0iILabel"> Internal IP Address</label>
                        <input type="text" class="ipv4" placeholder="Enter IPv4 address" id="p0iIP" name="p0iIP">
                        <div class="hide err"id="p0iIPerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
                        
                        <label for="inPortNo0" id ="inPortNo0Label">Internal Port Number</label>
                        <input type="text" class="portNo text" placeholder="Enter internal port number" id="inPortNo0" name="inPortNo0">
                        <!--1-65353-->
                        <div class="hide err"id="inPortNo0err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                     </div>

                     <button class="Button" type="submit" id="gc"> Generate Config </button>
                </div>

            </form>
        </div>
        
        <script src="../static/script.js"></script>
    </body>
</html>