<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Config Gen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/app.css">
    </head>
    <body>
        <div class = "sidebar" id = "sidebar">
            <button type = button class = "sidebutton" id = "additems">+</button>
            <button type = button class = "sidebutton" id = "import"> 
                <input type = "file" id = "importfile"/>
            </button>
            <button type = button class = "sidebutton" id = "export"> </button>
            <button type = button class = "hide sidebutton" id = "deleteitem"> </button>
        </div>
        <div class = "sidebaroptions" id ="sidebaroptions">
            <button type = button class = "sidebarbutton" id = "addvlan"> ADD vlan! </button>
            <button type = button class = "sidebarbutton" id = "addPF"> ADD port forwarding! </button>
            <button type = button class = "sidebarbutton" id = "addVPN"> ADD VPN! </button>
        </div>
        <div class="topcontainer">
            <div class="topbar">
                <h1>Config Gen</h1>
            </div> 
            <form action = "#" id="configForm">
                <div class ="Container">
                    <div class="System" id="System">
                        <h1> System Information </h1>
                        <hr>
                        <label for="hn">Hostname</label>
                        <input type="text" class="text" placeholder="Enter router hostname" id="hn" name="hn">
                        <!-- Make sure the id for the error classes is the element it's for, + err (hostname = hnerr)-->
                        <div class="hide err"id="hnerr">
                            <!-- the error message is changed in the .js file-->
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
                        
                        <label for="pw">Password</label>
                        <input type="password" class="password text" placeholder="Enter global router password" id="pw" name="pw">
                        <div class="hide err"id="pwerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="suffix">DNS Suffix</label>
                        <input type="text" class="suffix text" placeholder="Enter DNS suffix" id="suffix" name="suffix">
                        <div class="hide err"id="suffixerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
    
                        <label for="pipv4">Primary IPv4 DNS Server</label>
                        <input type="text" class="ipv4" placeholder="Enter IPv4 DNS Server Address" id="pipv4" name="pipv4">

                        <div class="hide err"id="pipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="sipv4">Secondary IPv4 DNS Server</label>
                        <input type="text" class="ipv4" placeholder="Enter Secondary IPv4 DNS Server Address" id="sipv4" name="sipv4">
                        <div class="hide err"id="sipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
    
                        <label for="model">Choose a model:</label>
                        <select name="model" id="model">
                        <!--<option value="800Series">800 Series</option>-->
                        <!--<option value="110Series">1100 Series</option>-->
                        <option value="11014PSeries" selected>C1101-4P</option>
                        <option value="897VASeries">897VA</option>
                        <option value="11014PSeries_vpn_test">11014PSeries_vpn_test</option>
                        </select>

                        
                        <label for="WAN">Choose a WAN connection type:</label>
                        <select name="WAN" id="WAN">
                        <option value="IPoE">IPoE</option>
                        <option value="PPPoE">PPPoE</option>
                        <!--<option value="Static IP">Static IP</option>-->
                        </select>

                        <label for="bps">Upload Bandwidth (Bps)</label>
                        <input type="text" class="bps text" placeholder="Enter Upload Bandwidth (Bps)" id="bps" name="bps">
                        <div class="hide err"id="bpserr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
                    </div>
                    
                    <div class="Vlan" id="vlan1">
                        <h1> Native VLAN </h1>
                        <hr>

                        <label for="v1ID">Native VLAN ID</label>
                        <input type="text" class="vID text" placeholder="Enter VLAN ID" id="v1ID" name="v1ID">
                        <div class="hide err"id="v1IDerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="v1ipv4" id="v1ipv4Label">IPv4 Interface</label>
                        <input type="text" class="ipv4" placeholder="Enter IPv4 Interface" id="v1ipv4" name="v1ipv4">
                        <div class="hide err"id="v1ipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="v1ipPre" id = "v1ipPreLabel">Choose a prefix:</label>
                        <select name="v1ipPre" id="v1ipPre">
                        <option value="/31">/31</option>
                        <option value="/30">/30</option>
                        <option value="/29">/29</option>
                        <option value="/28">/28</option>
                        <option value="/27">/27</option>
                        <option value="/26">/26</option>
                        <option value="/25">/25</option>
                        <option value="/24">/24</option>
                        <option value="/23">/23</option>
                        <option value="/22">/22</option>
                        <option value="/21">/21</option>
                        <option value="/20">/20</option>
                        <option value="/19">/19</option>
                        <option value="/18">/18</option>
                        <option value="/17">/17</option>
                        <option value="/16">/16</option>
                        </select>

                        <label for="v1dhcpEN" id ="v1dhcpENLabel"> Enable DHCPv4 server </label>
                        <input type="checkbox" name="v1dhcpEN" id ="v1dhcpEN" value="Enable DHCPv4">

                        <label for="v1Helper" id = "v1HelperLabel" class="hide">IPv4 Helper Address</label>
                        <input type="text" class="ipv4altered text hide" placeholder="Enter IPv4 Helper Address or leave blank" id="v1Helper" name="v1Helper">
                        <div class="hide err"id="v1Helpererr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                    </div>

                    
                    <div class="hide" id="optionalvlan">
                        <h1 id = "vlan0title"> Tagged VLAN </h1>
                        <hr>

                        <label for="v0ID" id = "v0IDLabel">Tagged VLAN ID</label>
                        <input type="text" class="vID text" placeholder="Enter VLAN ID" id="v0ID" name="v0ID">
                        <div class="hide err"id="v0IDerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="v0ipv4" id="v0ipv4Label">IPv4 Interface</label>
                        <input type="text" class="ipv4" placeholder="Enter IPv4 Interface" id="v0ipv4" name="v0ipv4">

                        <div class="hide err"id="v0ipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="v0ipPre" id ="v0ipPreLabel">Choose a prefix:</label>
                        <select name="v0ipPre" id="v0ipPre">
                        <option value="/31">/31</option>
                        <option value="/30">/30</option>
                        <option value="/29">/29</option>
                        <option value="/28">/28</option>
                        <option value="/27">/27</option>
                        <option value="/26">/26</option>
                        <option value="/25">/25</option>
                        <option value="/24">/24</option>
                        <option value="/23">/23</option>
                        <option value="/22">/22</option>
                        <option value="/21">/21</option>
                        <option value="/20">/20</option>
                        <option value="/19">/19</option>
                        <option value="/18">/18</option>
                        <option value="/17">/17</option>
                        <option value="/16">/16</option>
                        </select>

                        <label for="v0dhcpEN" id="v0dhcpENLabel"> Enable DHCPv4 server </label>
                        <input type="checkbox" name="v0dhcpEN" id ="v0dhcpEN" value="Enable DHCPv4">

                        <label for="v0Helper" id = "v0HelperLabel" class="hide">IPv4 Helper Address</label>
                        <input type="text" class="ipv4altered text hide" placeholder="Enter IPv4 Helper Address or leave blank" id="v0Helper" name="v0Helper">
                        <div class="hide err"id="v0Helpererr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
                     </div>

                     <div class = "hide" id ="optionalPF">
                        <h1 id = "PortForwarding0Title"> Port Forwarding 0 Information </h1>

                        <label for="p0protocol" id ="p0protocolLabel">Choose a protocol (TCP/UDP):</label>
                        <select name="p0protocol" id="p0protocol">
                        <option value="TCP">TCP</option>
                        <option value="UDP">UDP</option>
                        </select>

                        <label for="p0sIP" id="p0sILabel"> Source IP Address</label>
                        <input type="text" class="ipv4altered text" placeholder="Enter IPv4 address or leave blank" id="p0sIP" name="p0sIP">
                        <div class="hide err"id="p0sIPerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="p0exPort" id ="p0exPortLabel">External Port Number</label>
                        <input type="text" class="portNo text" placeholder="Enter external port number" id="p0exPort" name="p0exPort">
                        <!--1-65353-->
                        <div class="hide err"id="p0exPorterr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="p0iIP" id="p0iILabel"> Internal IP Address</label>
                        <input type="text" class="ipv4" placeholder="Enter IPv4 address" id="p0iIP" name="p0iIP">
                        <div class="hide err"id="p0iIPerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>
                        
                        <label for="p0inPort" id ="p0inPortLabel">Internal Port Number</label>
                        <input type="text" class="portNo text" placeholder="Enter internal port number" id="p0inPort" name="p0inPort">
                        <!--1-65353-->
                        <div class="hide err"id="p0inPorterr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>


                     </div>

                     <div class = "hide" id = "optionalVPN"> 
                        <h1 id = "VPN0Title"> VPN 0 Information </h1>
                        <h2> IKE Configuration</h2>

                        <label for="i0ipv4" id="i0ipv4Label"> Remote IPv4 Address</label>
                        <input type="text" class="ipv4 text" placeholder="Enter IPv4 address" id="i0ipv4" name="i0ipv4">
                        <div class="hide err"id="i0ipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="i0PreSharedKey" id="i0PreSharedKeyLabel"> Pre-shared Key </label>
                        <input type="text" class="any text" placeholder="Enter key" id="i0PreSharedKey" name="i0PreSharedKey">
                        <div class="hide err"id="i0PreSharedKeyerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="i0Encryption" id ="i0EncryptionLabel"> Select encryption: </label>
                        <select name="i0Encryption" id="i0Encryption">
                        <option value="aes-cbc-128">AES-CBC-128</option>
                        <option value="aes-cbc-256">AES-CBC-256</option>
                        </select>

                        <label for="i0Authentication" id ="i0AuthenticationLabel"> Select authentication:</label>
                        <select name="i0Authentication" id="i0Authentication">
                        <option value="sha-1">SHA1</option>
                        <option value="sha-256">SHA256</option>
                        <option value="sha-512">SHA512</option>
                        </select>

                        <p> Select DH group: </p>

                        <div id = "grid1" class = "grid">
                            <div>
                                <label for="i0Diffie11" class = "DiffieLabel" id="i0Diffie11Label"> 1 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie11" id ="i0Diffie11" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie12"  class = "DiffieLabel" id="i0Diffie12Label"> 2</label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie12" id ="i0Diffie12" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie15"  class = "DiffieLabel" id="i0Diffie15Label"> 5 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie15" id ="i0Diffie15" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie114" class = "DiffieLabel" id="i0Diffie114Label"> 14 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie114" id ="i0Diffie114" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie115"  class = "DiffieLabel" id="i0Diffie115Label"> 15 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie115" id ="i0Diffie115" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie116"  class = "DiffieLabel" id="i0Diffie116Label"> 16 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie116" id ="i0Diffie116" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie117" class = "DiffieLabel" id="i0Diffie117Label"> 17 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie117" id ="i0Diffie117" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie118"  class = "DiffieLabel" id="i0Diffie118Label"> 18 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie118" id ="i0Diffie118" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie119"  class = "DiffieLabel" id="i0Diffie119Label"> 19 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie119" id ="i0Diffie119" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie120" class = "DiffieLabel" id="i0Diffie120Label"> 20 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie120" id ="i0Diffie120" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie121"  class = "DiffieLabel" id="i0Diffie121Label"> 21 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie121" id ="i0Diffie121" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie127"  class = "DiffieLabel" id="i0Diffie127Label"> 27 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie127" id ="i0Diffie127" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie128" class = "DiffieLabel" id="i0Diffie128Label"> 28 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie128" id ="i0Diffie128" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie129"  class = "DiffieLabel" id="i0Diffie129Label"> 29 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie129" id ="i0Diffie129" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie130"  class = "DiffieLabel" id="i0Diffie130Label"> 30 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie130" id ="i0Diffie130" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie131"  class = "DiffieLabel" id="i0Diffie130Label"> 31 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie131" id ="i0Diffie131" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie132"  class = "DiffieLabel" id="i0Diffie132Label"> 32 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie132" id ="i0Diffie132" value="Enable">
                            </div>
                        </div>

                        <label for="i0KeyLifetime" id ="i0KeyLifetimeLabel">Key Lifetime (seconds):</label>
                        <input type="text" class="lifetime text" placeholder="Enter key lifetime" id="i0KeyLifetime" name="i0KeyLifetime">
                        <div class="hide err"id="i0KeyLifetimeerr">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <h2> IPSec Information </h2>

                        <label for="i0lipv4" id="i0lipv4Label"> Local IPv4 Network Address</label>
                        <input type="text" class="ipv4 text" placeholder="Enter IPv4 address" id="i0lipv4" name="i0lipv4">
                        <div class="hide err"id="i0lipv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="i0lipv4Pre" id ="i0lipv4PreLabel">Choose a prefix for local subnet:</label>
                        <select name="i0lipv4Pre" id="i0lipv4Pre">
                        <option value="/31">/31</option>
                        <option value="/30">/30</option>
                        <option value="/29">/29</option>
                        <option value="/28">/28</option>
                        <option value="/27">/27</option>
                        <option value="/26">/26</option>
                        <option value="/25">/25</option>
                        <option value="/24">/24</option>
                        <option value="/23">/23</option>
                        <option value="/22">/22</option>
                        <option value="/21">/21</option>
                        <option value="/20">/20</option>
                        <option value="/19">/19</option>
                        <option value="/18">/18</option>
                        <option value="/17">/17</option>
                        <option value="/16">/16</option>
                        </select>

                        <label for="i0ripv4" id="i0ripv4Label"> Remote IPv4 Network Address</label>
                        <input type="text" class="ipv4 text" placeholder="Enter IPv4 address" id="i0ripv4" name="i0ripv4">
                        <div class="hide err"id="i0ripv4err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>

                        <label for="i0ripv4Pre" id ="i0ripv4PreLabel">Choose a prefix for remote subnet:</label>
                        <select name="i0ripv4Pre" id="i0ripv4Pre">
                        <option value="/31">/31</option>
                        <option value="/30">/30</option>
                        <option value="/29">/29</option>
                        <option value="/28">/28</option>
                        <option value="/27">/27</option>
                        <option value="/26">/26</option>
                        <option value="/25">/25</option>
                        <option value="/24">/24</option>
                        <option value="/23">/23</option>
                        <option value="/22">/22</option>
                        <option value="/21">/21</option>
                        <option value="/20">/20</option>
                        <option value="/19">/19</option>
                        <option value="/18">/18</option>
                        <option value="/17">/17</option>
                        <option value="/16">/16</option>
                        </select>

                        <label for="i0Encryption2" id ="i0Encryption2Label"> Select encryption: </label>
                        <select name="i0Encryption2" id="i0Encryption2">
                        <option value="esp-192-aes">ESP-192-AES</option>
                        <option value="esp-256-aes">ESP-256-AES</option>
                        </select>

                        <label for="i0Authentication2" id ="i0Authentication2Label"> Select authentication:</label>
                        <select name="i0Authentication2" id="i0Authentication2">
                        <option value="esp-sha256-hmac">ESP-SHA256-HMAC</option>
                        <option value="esp-sha512-hmac">ESP-SHA512-HMAC</option>
                        </select>

                        <!--<label for="i0ERD" id="i0ERDLabel"> Enable Replay Detection </label>
                        <input type="checkbox" name="i0ERD" id ="i0ERD" value="Enable">

                        <label for="i0PFS" id="i0PFSLabel"> Enable Perfect Forward Secrecy (PFS) </label>
                        <input type="checkbox" name="i0PFS" id ="i0PFS" value="Enable">-->

                        <p> Select DH group: </p>

                        <div id = "grid2" class = "grid">
                            <div>
                                <label for="i0Diffie21"  class = "DiffieLabel" id="i0Diffie21Label"> 1 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie21" id ="i0Diffie21" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie22" class = "DiffieLabel" id="i0Diffie22Label"> 2</label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie22" id ="i0Diffie22" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie25"  class = "DiffieLabel" id="i0Diffie25Label"> 5 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie25" id ="i0Diffie25" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie214" class = "DiffieLabel" id="i0Diffie214Label"> 14 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie214" id ="i0Diffie214" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie215"  class = "DiffieLabel" id="i0Diffie215Label"> 15 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie215" id ="i0Diffie215" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie216"  class = "DiffieLabel" id="i0Diffie216Label"> 16 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie216" id ="i0Diffie216" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie217" class = "DiffieLabel" id="i0Diffie217Label"> 17 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie217" id ="i0Diffie217" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie218"  class = "DiffieLabel" id="i0Diffie218Label"> 18 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie218" id ="i0Diffie218" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie219"  class = "DiffieLabel" id="i0Diffie219Label"> 19 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie219" id ="i0Diffie219" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie220" class = "DiffieLabel" id="i0Diffie220Label"> 20 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie220" id ="i0Diffie220" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie221"  class = "DiffieLabel" id="i0Diffie221Label"> 21 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie221" id ="i0Diffie221" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie227"  class = "DiffieLabel" id="i0Diffie227Label"> 27 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie227" id ="i0Diffie227" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie228" class = "DiffieLabel" id="i0Diffie228Label"> 28 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie228" id ="i0Diffie228" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie229"  class = "DiffieLabel" id="i0Diffie229Label"> 29 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie229" id ="i0Diffie229" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie230"  class = "DiffieLabel" id="i0Diffie230Label"> 30 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie230" id ="i0Diffie230" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie231"  class = "DiffieLabel" id="i0Diffie230Label"> 31 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie231" id ="i0Diffie231" value="Enable">
                            </div>

                            <div>
                                <label for="i0Diffie232"  class = "DiffieLabel" id="i0Diffie232Label"> 32 </label>
                                <input type="checkbox" class = "Diffie" name="i0Diffie232" id ="i0Diffie232" value="Enable">
                            </div>
                        </div>

                        
                        <label for="i0KeyLifetime2" id ="i0KeyLifetime2Label">Key Lifetime (seconds):</label>
                        <input type="text" class="lifetime text" placeholder="Enter key lifetime" id="i0KeyLifetime2" name="i0KeyLifetime2">
                        <!--1-86,400-->
                        <div class="hide err"id="i0KeyLifetime2err">
                            <span class = "msg"> You got this wrong loooooool </span>
                        </div>


                     </div>

                     <button class="Button" type="submit" id="gc"> Generate Config </button>
                </div>

            </form>
        </div>
        
        <script src="../static/script.js"></script>
    </body>
</html>